---
---

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="/javascripts/jquery.min.js"></script>
	<title>Blog</title>
</head>
<body>
	<header>
		{% include header.html %}
	</header>
	<div class="container">
		{% for post in site.posts %}
			<article>
				<h1><a href="{{ site.base_url }}{{ post.url }}">{{ post.title }}</a></h1>
				<p>{{ post.date | date_to_string }}</p>
				<p>{{ post.content }}</p>
			</article>
		{% endfor %}
	</div>
	<footer>
		{% include footer.html %}
	</footer>
</body>
</html>