---
---

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/assets/stylesheets/style.css">
	<link rel="stylesheet" href="/assets/stylesheets/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/assets/stylesheets/bootstrap.min.css">
	<script src="/assets/javascripts/bootstrap.min.js"></script>
	<script src="/assets/javascripts/jquery.min.js"></script>
	<title>Jairam Patel</title>
</head>
<body>
	<header>
		{% include header.html %}
	</header>
	
	<div class="container">
		<div class="row">
			<div class="col-md-4">![My helpful screenshot]({{ site.url }}/assets/elementConverter.png)</div>
	  		<div class="col-md-8">Description about project</div>
		</div>
	</div>
	<footer>
		{% include footer.html %}
	</footer>
</body>
</html>