body {
    font-family: Verdana, sans-serif;
}

#wrapper {
    margin: 0 auto;
    max-width: 40em;
    width: 70%;
    border-color: green;
    border-width: 1em;
    padding-top: 3em;
}

#content {
    border-color: green;
    border-width: 5px;
}