<header class="sidebar-header" role="banner">
	<a href="http://jairampatel.com/">
		<img src="/assets/images/me.png" class="img-circle" />
	</a>
	<h3 class="title">
        <a href="http://jairampatel.com/">Jairam Patel</a>
    </h3>
    <h4>
    	<br><a id="projects" href="/projects.html">Projects</a><br><br><br>
        <a class="social" href="https://github.com/jairampatel"><i class="fa fa-github fa-lg"></i>Github</a><br><br><br>
        <a class="social" href="https://www.linkedin.com/in/jairampatel/"><i class="fa fa-linkedin fa-lg"></i>LinkedIn</a><br><br><br>
</header>
