{{ define "main" }}

<div id="home">
    Hello! I'm Jairam. I enjoy building things.
</div>


<br>
<br>
<div id="contact">
    <div id="github" class="contactItem">
        <img src="/images/github.png" alt="" class="contactLogo">
        <a href="https://github.com/jairampatel" target="_blank">Github</a>
    </div>
    <div id="linkedin" class="contactItem">
        <img src="/images/linkedin.png" alt="" class="contactLogo">
        <a href="https://www.linkedin.com/in/jairampatel/" target="_blank">LinkedIn</a>
    </div>
</div>


{{ end }}