body {
  font-size: 17px !important;
  color: #2c3e50 !important;
}
a{
	color: #066180 !important;
}
#header{
	padding-top: 10%;
}

hr.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.panel {
    border-color: #555;
}

.sidebar {
	position: fixed;
	top: 0px;
	padding-top: 10%;
}

.sidebar-header {
	text-align: center;
	margin-bottom: 10px;
}
.sidebar-header .title{
	letter-spacing: 3px;
	text-transform: uppercase;
}

.sidebar-header .title a{
	text-decoration: none;
	color: #2c3e50;
}

.sidebar-header #projects{
	letter-spacing: 3px;
	text-transform: uppercase;
	text-decoration: none;
	width:400px;
	height:300px;
	padding: 4px;
	margin-top: 100px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	border:2px solid #000000;
	background:rgba(25,86,227,0.2);
	-webkit-box-shadow: #B3B3B3 11px 11px 11px;
	-moz-box-shadow: #B3B3B3 11px 11px 11px; 
	box-shadow: #B3B3B3 11px 11px 11px;
}

.sidebar-header .social{
	letter-spacing: 3px;
	text-transform: uppercase;
	text-decoration: none;
	width:400px;
	height:300px;
	padding: 4px;
	margin-top: 100px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	border:2px solid #000000;
	background:rgba(25,86,227,0.2);
	-webkit-box-shadow: #B3B3B3 11px 11px 11px;
	-moz-box-shadow: #B3B3B3 11px 11px 11px; 
	box-shadow: #B3B3B3 11px 11px 11px;
}

