<html>
	<head>
		<link rel="stylesheet" href="{{ site.BASE_PATH }}/assets/stylesheets/style.css">
		<link rel="stylesheet" href="{{ site.BASE_PATH }}/assets/stylesheets/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{{ site.BASE_PATH }}/assets/stylesheets/bootstrap.min.css">
		<script src="{{ site.BASE_PATH }}/assets/javascripts/bootstrap.min.js"></script>
		<script src="{{ site.BASE_PATH }}/assets/javascripts/jquery.min.js"></script>
		<title>Jairam Patel</title>
	</head>
	<body>
		<div class="row">
			<div class="col-md-4 sidebar hidden-xs">
				{% include sidebar.html %}
			</div>

			<div class="col-md-8">
				{% include header.html %}

				{{ content }}

				{% include footer.html %}

			</div>
		</div>
	</body>
</html>