---
---

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ site.BASE_PATH }}/stylesheets/style.css">
	<link rel="stylesheet" href="{{ site.BASE_PATH }}/stylesheets/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{{ site.BASE_PATH }}/stylesheets/bootstrap.min.css">
	<script src="{{ site.BASE_PATH }}/javascripts/bootstrap.min.js"></script>
	<script src="{{ site.BASE_PATH }}/javascripts/jquery.min.js"></script>
	<title>{{ page.title }}</title>
</head>
<body>
	<header>
		{% include header.html %}
	</header>
	<div class="container">
		<article>
			<h1><a href="{{ site.base_url }}{{ page.url }}">{{ page.title }}</a></h1>
			<p>{{ page.date | date_to_string }}</p>
			<p>{{ content }}</p>
		</article>
	</div>
	<footer>
		{% include footer.html %}
	</footer>
</body>
</html>
